*,
*::before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow: hidden;
    display: grid;
    place-content: center;
    align-items: center;
    transition: 0.5s;
}

div {
    text-align: center;
}

h1 {
    position: relative;
}

h1, h2 {
    font-size: 10vh;
    cursor: pointer;
    transition: 0.5s;
}

h2 {
    scale: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
}

button {
    height: 5vh;
    width: 10vh;
    margin-top: 4vh;
    background-color: orange;
    border-radius: 100px;
    border: none;
    opacity: 0;

    cursor: pointer;
    pointer-events: none;

    font-size: 15px;
    font-weight: bold;
    color: white;

    transition: 0.5s opacity;
}

@keyframes shake {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(5deg);}
    75% {transform: rotate(-5deg);}
    100% {transform: rotate(0deg);}
}

h1:hover {
    animation: shake 0.4s infinite ease-in-out;
}

h1:active {
    font-size: 15vh;
    animation: shake 0.25s infinite ease;
}
